{
  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "browser": true,
    "jasmine": true,
    "node": true
  },

  "plugins": [
    "react"
  ],

  "globals": {
    "jest": true,
  },

  "rules": {
    "quotes": [2, "double"],
    "indent": [2, 2],
    "camelcase": false,
    "strict": [2, "never"], // <-- fix
    "no-mixed-spaces-and-tabs": [2, "always"],
    "no-trailing-spaces": [2, "always"],
    "no-underscore-dangle": false,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2 "always"],
    // "space-before-function-paren": [2, {
    //   "anonymous": "always", "named": "never"
    // }], TODO: DCOS-914
    "spaced-line-comment": [2, "always"],
    // "max-len": [2, 80, 4], TODO: DCOS-914
    "valid-jsdoc": [2, {
      "requireReturn": false,
      "requireParamDescription": false
    }],

    // React plugin
    "react/display-name": true,
    "react/jsx-quotes": [2, "double"],
    "react/jsx-no-undef": true,
    "react/jsx-uses-vars": [2, {"vars": "all", "args": "after-used"}],
    "react/jsx-sort-props": true,
    "react/jsx-sort-prop-types": true,
    "react/no-did-mount-set-state": true,
    "react/no-did-update-set-state": true,
    "react/no-multi-comp": true,
    "react/prop-types": true,
    "react/react-in-jsx-scope": true,
    "react/self-closing-comp": true,
    "react/wrap-multilines": true
  }
}
