/* ==============
 * Text
 * ==============
 */
.list-inline-subtext {
  color: #6f757D;
  display: inline-block;
  margin-left: 10px;
}

.text-warning {
  color: #e4f342;
}

.text-muted {
  color: #8e929b;
}

.text-unhealthy {
  color: #ff7d64;
}
