.app-modal {
  .app-config-edit {
    display: flex;
  }

  .content-component {
    padding: @base-spacing-unit*2;
    border-left: @modal-footer-border-color 1px solid;
  }

  #json-toggle {
    margin: 0;
    float: right;
  }

  label[for="json-toggle"] {
    float: right;
    margin: 0 @base-spacing-unit;
    font-weight: 200;
  }

}
