.app-modal {
  .modal-content {
    .app-error-block {
      padding: @base-spacing-unit @base-spacing-unit*2.5;
      background: fadeout(@text-color-danger-light, 75%);
      &+.modal-body {
        height: calc(~"80vh" - (@modal-header-height+@modal-footer-height+@modal-error-height));
      }
    }

    .app-config-edit {
      display: flex;
      height: 100%;
    }

    .content-component {
      border-left: @modal-footer-border-color 1px solid;
      overflow: scroll;
      padding-bottom: @base-spacing-unit*2;
      padding-left: @base-spacing-unit*2;
      padding-right: @base-spacing-unit*2.5;
      padding-top: @base-spacing-unit*2;
      width: 100%;
    }

    .modal-body {
      height: calc(~"80vh" - (@modal-header-height+@modal-footer-height));
      padding-right: 0;
    }

    #json-toggle {
      margin: 0;
      float: right;
    }

    label[for="json-toggle"] {
      float: right;
      margin: 0 @base-spacing-unit;
      font-weight: 200;
    }

    [role="menu"] {
      flex-shrink: 0;
    }
  }
  &.json-mode .modal-content .modal-body {
    padding: 0;
  }
}
