.badge {
   position: absolute;
   top: 5px;
   left: 1px;
   font-size: .7em;
   background-color: @primary-bg-color;
   color: #2a2d2f;
   background: #e4f342;
   min-width: 18px;
   height: 18px;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   box-shadow: 0 1px 1px #333;
   padding: 0 2px;
}
