/* ==============
 * Modal
 * ==============
 */
.modal {
  display: block;
  border-radius: @modal-border-radius;
}

.modal-header {
  background-color: @sidebar-bg-color;
  border-bottom: none;
  border-radius: @modal-border-radius @modal-border-radius 0 0;
}

.modal-footer {
  border-radius: 0 0 @modal-border-radius @modal-border-radius;
  border-top: none;
  display: flex;
  margin-top: 0;
  justify-content: center;
  padding: @modal-footer-padding;
}

.modal-content {
  background-color: @primary-bg-color;
}

.modal-header-blend {
  background: transparent;
}

.modal-body {
  word-wrap: break-word;

  .row.full-bleed {
    margin-left: -@modal-body-padding;
    margin-right: -@modal-body-padding;
    .panel-heading {
      padding-left: @modal-body-padding;
      padding-right: @modal-body-padding;
    }
    .panel-body {
      padding-left: @modal-body-padding;
      padding-right: @modal-body-padding;
    }
    &.reduced-padding {
      .panel-body {
        padding-left: 0px;
        padding-right: 0px;
      }
      .field-row {
        padding: @modal-body-padding;
      }
      .field-row:first-child {
        padding-top: 0px;
        margin-top: -@modal-body-padding;
      }
      .field-row:nth-child(even) {
        background-color: @primary-bg-color;
      }
    }
  }
  .modal-controls {
    margin-top: 15px;
    &.fixed-height {
      height: 30px;
    }
  }
}

@media (min-width: 768px) {
  .modal-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .modal-md {
    width: 740px;
  }
  .add-colon:after {
    content: ":";
    position: absolute;
    color: @white;
    right: -3px;
    font-size: 1.3em;
    bottom: 1em;
  }
  .duplicable-list {
    .duplicable-row:nth-child(n+2) {
      label {
        display: none;
      }
    }
  }
  .reduced-padding .row {
    > div[class^="col-"] {
      padding-left: 7px;
      padding-right: 7px;
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
    }
    &.duplicable-row {
      > div[class^="col-"]:last-child {
        display: flex;
        align-items: flex-end;
        .form-group {
          flex-grow: 1;
        }
      }
    }
  }
}

.modal.dialog {
  color: @modal-dialog-text-color;
  font-size: @modal-font-size;

  &.warning {
    .modal-header {
      color: @modal-dialog-warning-color
    }

    .modal-content::before{
      background-color: @modal-dialog-warning-color;
    }

    .modal-footer .btn-default:hover {
      border-color: @modal-dialog-warning-color;
    }

    .modal-footer .btn-success {
      background-color: @modal-dialog-warning-color;
      border-color: @modal-dialog-warning-color;

      &:hover {
        background-color: lighten(@modal-dialog-warning-color,10%);
        border-color: lighten(@modal-dialog-warning-color,10%);

        &:focus{
          outline-color: lighten(@modal-dialog-warning-color,10%);
        }
      }

      &:focus{
        outline-color: @modal-dialog-warning-color;
      }
    }
  }

  &.danger {
    .modal-header {
      color: @modal-dialog-danger-color
    }

    .modal-content::before, .modal-footer .btn-success {
      background-color: @modal-dialog-danger-color;
      border-color: @modal-dialog-danger-color;

      &:hover {
        background-color: lighten(@modal-dialog-danger-color,10%);
        border-color: lighten(@modal-dialog-danger-color,10%);

        &:focus{
          outline-color: lighten(@modal-dialog-danger-color,10%);
        }
      }

      &:focus{
        outline-color: @modal-dialog-danger-color;
      }
    }
  }

  .modal-header {
    background-color: transparent;
    color: @modal-dialog-info-color;
    font-size: @modal-font-size-header;
    padding-top: @modal-dialog-padding;
    padding-bottom: 0;
    text-align: center;
  }

  .modal-content {
    background-color: @modal-dialog-bg-color;
    border: none;
    box-shadow: none;
    min-width: @modal-dialog-width;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: @base-spacing-unit;
      background-color: @modal-dialog-info-color;
      border-radius: @modal-border-radius @modal-border-radius 0 0;
    }
  }

  .modal-body {
    text-align: center;
    padding-bottom: @modal-dialog-padding;

    label {
      font-weight: inherit;
    }

    .form-control {
      width: auto;
      margin-top:  @modal-body-padding;
      margin-left:  auto;
      margin-right:  auto;
    }
  }

  .modal-footer {
    background-color: @modal-dialog-footer-color;
  }

}

// Design Prototype
.modal-dialog {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  bottom: 0;
}

.modal-header {
  background-color: @brand-primary;
  border-radius: 0;
  padding: 15px 40px;
}

.modal-content {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  border-radius: 0;

  h4 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #eee;
  }
}

.modal-body {
  color: @shuttle-gray;
  padding: 30px 40px;
  overflow-y: auto;
}

.modal-body .row.full-bleed .panel-body {
  padding: 30px 40px;
}

.control-label {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 30px;

  .help-block {
    color: #aaa;
    margin-top: 10px;
  }
}

.form-control {
  background: #fff;
  border-color: #E2E4E5;
  box-shadow: none;
  color: #555;
  height: 46px;
  padding: 0 12px;

  &:focus {
    border-color: @brand-primary;
    outline: 0;
    background-color: fade(@brand-primary, 5%);
    box-shadow: none;
  }
}

textarea.form-control {
  height: auto;
  padding: 12px;
}

.modal-body .row.full-bleed {
  margin-left: -40px;
  margin-right: -40px;
}

.collapsible-panel {
  background-color: transparent !important; // Sorry :-(
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.panel-heading {
  background-color: #F7F7F7;
  color: #898D98;
  box-shadow: 0 1px 0 #ddd, 0 -1px 0 #ddd;
  border: none !important;
  border-radius: none;
  padding: 10px 40px !important; // Sorry :-(

  &:hover {
    background-color: darken(#F7F7F7, 2%) !important;
  }
}

.panel-title {
  color: #898D98;
}

.panel-body {
  background-color: transparent !important; // Sorry :-(
}

.duplicable-row .controls {
  flex-grow: 1;
  margin-bottom: 36px;
}

.duplicable-row .controls .btn.add {
  color: @brand-primary;
}

.duplicable-row .controls .btn.remove {
  color: #ddd;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0;
}

.add-colon:after {
  color: #222;
  bottom: 2.4em;
}

