/* ==============
 * Task List (Table)
 * ==============
 */
.table.task-list {
  .healthy {
    color: @task-health-healthy-color;
  }

  .unhealthy {
    color: @task-health-unhealthy-color;
  }

  .unknown {
    color: @task-health-unknown-color;
  }
}
