@import (inline) "vendor/bootstrap-3.1.0.css";
@import (inline) "vendor/ionicons.css";
@import (inline) "vendor/tooltip.less";
@import "variables.less";

@import "components/base.less";

.caret {
  border-width: 5px;
}



.page-header {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: @base-spacing-unit*3 0 @base-spacing-unit * 1.5;

  h1 {
    margin: 0 0 @base-spacing-unit * 1.5 0;
    padding: 0;
    line-height: @base-spacing-unit*4;
  }
}

.text-unhealthy {
  color: #ff7d64;
}

@import "components/table.less";

@import "components/icons.less";

@import "components/app-list.less";

.list-inline-subtext {
  color: #6f757D;
  display: inline-block;
  margin-left: 10px;
}

.text-info {
  color: #B8E8EF;
}

.text-warning {
  color: #e4f342;
}

.text-muted {
  color: #8e929b;
}

@import "components/app-status.less";

@import "components/buttons.less";

/* ==============
 * Textures
 * ==============
 */

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.navbar-inverse {
  background-color: @navbar-bg-color;
  border: none;
  margin: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: darken(@link-color, 40%);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #f6f6f6;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

.navbar-brand {
  height: auto;
  padding-bottom: 12px;
  padding-top: 11px;
  padding-left: 0;
  text-align: center;
  width: @sidebar-width - @base-spacing-unit*2;
}

.pagination-unstyled {
  margin-bottom: -9px;
  margin-top: -6px;
}

.item-numbers {
  padding: 5px 10px;
  margin: 0 0 10px;
}

.pagination > li:first-child > button {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > button {
  margin-right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > button {
  color: #f6f6f6;
  background-color: #5b6067;
  border: 1px solid @primary-bg-color;
  line-height: 1.5;
  padding: 5px 10px;
}

.pagination > li > button:hover,
.pagination > li > button:focus {
  color: #f6f6f6;
  background-color: #8e929b;
}

.pagination > .disabled > button,
.pagination > .disabled > button:hover,
.pagination > .disabled > button:focus {
  color: #838a93;
  background-color: #454a50;
}

.pagination > .success > button,
.pagination > .success > button:hover,
.pagination > .success > button:focus {
  color: #f6f6f6;
  background-color: #00b482;
}

.nav-tabs {
  border-bottom: 2px solid #2a2d2f;
  margin-top: 0;
}

.nav-tabs-unbordered {
  border-bottom: 0 solid transparent;
}
@import "components/helpers.less";

.nav-tabs-unbordered > li {
  margin-bottom: 0;
  border-bottom: 0 solid transparent;
}

.nav-tabs > li > a {
  color: @navbar-inactive-color;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  min-width: @navbar-min-width;
  padding-bottom: 13px;
  padding-top: 15px;
  text-align: center;
  border-bottom: 3px solid transparent;
  line-height: 19px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: @navbar-active-color;
  border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: @navbar-active-color;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid @brand-primary;
}

@import "layout/list.less";

@import "components/badge.less";

@import "components/app-status.less";

@import "components/health-bar.less";

.tasks-controls {
  padding-bottom: @base-spacing-unit;
}

@import "components/filter-box.less";

@import "components/modal.less";

@import "components/panel.less";

@import "components/duplicable-row.less";

.pane-header {
  line-height: 30px;
}

@import "components/tooltip.less";

.tab-pane.active.flex-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;

  .wrapper {
    display: flex;
    flex: 1;

    main {
      flex: 1;

      .contextual-bar {
        display: flex;
        padding: @base-spacing-unit*2
          0
          @base-spacing-unit*2
          @base-spacing-unit*2;

        .app-list-controls {
          display: flex;

          .toggle-list-view {
            display: flex;  // prevent line-break between buttons
            margin-left: @base-spacing-unit*2;
          }
        }

        .breadcrumb {
          background-color: transparent;
          font-size: @font-size-h2;
          padding: 0;
          align-items: center;
          overflow-x: hidden;

          li {
            line-height: @font-size-h2 + @base-spacing-unit;
          }

          .clear {
            margin-left: @horizontal-spacing-unit;
          }
        }
      }
    }

    nav.sidebar {
      background: @sidebar-bg-color;
      min-height: 100vh;
      margin: 0 0 0 -@base-spacing-unit*2;
      padding: @base-spacing-unit*2;
      width: @sidebar-width;

      .btn-success, .dropdown-toggle, .dropdown-menu {
        margin: 0 0 @base-spacing-unit 0;
        text-align: left;
        width: 100%;

        > div {
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }

      .dropdown-toggle {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      .filters {
        list-style: none;
      }

      .flex-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@import "components/breadcrumb.less";

@import "components/forms.less";

@import "components/dropdown.less";

h1 {
  font-size: @font-size-h1;
}

h3.small-caps {
  color: @sidebar-heading-color;
  font-weight: bold;
  font-size: @font-size-h3;
  line-height: @base-spacing-unit*2;
  text-transform: uppercase;
  margin: @base-spacing-unit 0;
}

@import "components/app-health-detail.less";
