/* ==============
 * Colors
 * ==============
 */
@brand-primary: #1D4CF3;
@sidebar-bg-color: #2A2D30;
@sidebar-heading-color: #5E646C;
@navbar-inactive-color: #8E929B;
@navbar-active-color: #ffffff;
@btn-default-text-color: #5e646c;
@btn-default-active-bg-color: #5e646c;
@btn-default-active-text-color: #ffffff;

/* ==============
 * Layout
 * ==============
 */
@base-spacing-unit: 8px;
@navbar-min-width: 90px;
@sidebar-width: 202px;

/* ==============
 * Typography
 * ==============
 */
@base-font-size: 14px;
