/* ==============
 * Colors
 * ==============
 */
@brand-primary: #2568F5;
@sidebar-bg-color: #2A2D30;
@sidebar-heading-color: #5E646C;
@navbar-inactive-color: #8E929B;
@navbar-active-color: #ffffff;
@btn-default-text-color: #5e646c;
@btn-default-active-bg-color: #5e646c;
@btn-default-active-text-color: #ffffff;
@breadcrumb-text-color: #C3C9D7;
@checkbox-active-color: #2568F5;

/* ==============
 * Layout
 * ==============
 */
@base-spacing-unit: 8px;
@navbar-min-width: 90px;
@sidebar-width: 202px;
@horizontal-spacing-unit: 6px;

/* ==============
 * Typography
 * ==============
 */
@base-font-size: 14px;
@font-size-h2: 18px;
@font-size-h3: 14px;

/* ==============
 * Misc
 * ==============
 */
@transition-fast: 0.15s;
