/* ==============
 * Colors
 * ==============
 */

//@todo: mesosphere/marathon#2288
@brand-primary: #2568F5;
@sidebar-bg-color: #2A2D30;
@sidebar-heading-color: #5E646C;
@navbar-inactive-color: #8E929B;
@navbar-active-color: #ffffff;
@btn-default-border-color: #5E646C;
@btn-default-text-color: #ffffff;
@btn-default-active-bg-color: #5e646c;
@btn-default-active-text-color: #ffffff;
@breadcrumb-text-color: #C3C9D7;
@checkbox-active-color: #2568F5;
@link-color: #ffffff;
@dropdown-bg-color: #ffffff;
@dropdown-separator-color: #DADCDE;
@table-header-color:#46494D;
@table-highlight-color:#3A3C40;
@table-border-color:#3C3F43;
@table-text-color:#8E929B;
@app-status-waiting-color: #e4f342;
@app-status-deploying-color: #e4f342;
@app-status-running-color: #2568F5;
@app-status-delayed-color: #F04F42;
@app-status-suspended-color: @table-text-color;
@task-health-healthy-color: #7aff68;
@task-health-sick-color: #F04F42;
@task-health-unknown-color: @table-text-color;

/* ==============
 * Layout
 * ==============
 */
@base-spacing-unit: 8px;
@navbar-min-width: 90px;
@sidebar-width: 202px;
@horizontal-spacing-unit: 6px;

/* ==============
 * Typography
 * ==============
 */
@base-font-size: 14px;
@base-line-height: unit(16/@base-font-size); // 16px relative to the base font size
@font-size-h1: 26px;
@font-size-h2: 18px;
@font-size-h3: 14px;
@font-size-icon: 16px;
@small-font-size: 12px;

/* ==============
 * Misc
 * ==============
 */
@transition-fast: 0.15s;


/* ==============
 * Icons
 * ==============
 */
@icon-mini-width: 16px;
@icon-mini-height: 16px;
@icon-mini-offset: 0px;
@icon-mini-scale: 1.0;

@icon-small-width: 24px;
@icon-small-height: 24px;
@icon-small-offset: 0px;
@icon-small-scale: 1.0;

@icon-medium-width: 32px;
@icon-medium-height: 32px;
@icon-medium-offset: 0px;
@icon-medium-scale: 1.0;

@icon-large-width: 48px;
@icon-large-height: 48px;
@icon-large-offset: 0px;
@icon-large-scale: 1.0;

/* ==============
 * App List
 * ==============
 */
@app-list-name-width: 150px;
@app-list-labels-breakpoint: 950px + @app-list-name-width;
@app-list-label-width: 100px;
